POSTGRES_DB=some_db_name
POSTGRES_USER=some_db_user_name
POSTGRES_PASSWORD=some_db_password
JWT_SECRET=some_jwt_secret
STRIPE_SECRET_KEY=some_stripe_secret_key
STRIPE_WEBHOOK_SECRET=some_stripe_webhook_secret
DEEPSEEK_API_KEY=some_deepseek_api_key